$blue: #4990E2;
$emailActionsColor: #8B8B8B;
$emailActionsSize: 19px;

body{
  font-family: 'Helvetica' , sans-serif;
}

li{
  list-style: none;
}

.emailList{
  width: 320px;
  float: left;
}

.emailContent{
}

.unread{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $blue;
}

.emailActions{
  float: right;
}

.emailActions i{
  color: $emailActionsColor;
  width: $emailActionsSize;
  margin-right: $emailActionsSize;
}

.emailActions i:hover{
  cursor: pointer;
  color: $blue;
  transition: color 0.3s ease;
}