$blue: #4990E2;
$emailActionsColor: #8B8B8B;
$borderColor: #B5B5B5;
$textColor: #333333;
$emailSelectedBG: #F9F9F9;
$contentBG: #F6F6F7;
$envelopeColor: #ECECEE;

$emailActionsSize: 19px;
$feedWidth: 320px;

$transitionAll: all 0.3s ease;
$transitionColor: color 0.3s ease;


$emailListFontSize: 12px;
$emailListFilterFontSize: 10px;
$contentSubjectFontSize: 16px;
$contentSenderFontSize: 16px;
$contentBodyFontSize: 14px;
$contentDateFontSize: 12px;

body{
  font-family: 'Helvetica' , sans-serif;
  margin: 0;
  padding: 0;
  color: $textColor;
  //background-image: url("../public/assets/MailApp.jpg");
}

li{
  list-style: none;
}

.emailList{
  height: 100vh;
  overflow: hidden;
  float: left;
  border-right: 1px solid $borderColor;
  width: $feedWidth;
  display:flex;
  flex-direction:column;
}

.emailContent{
}

.emailActions{
  float: right;
}

.emailActions i{
  color: $emailActionsColor;
  width: $emailActionsSize;
  margin-right: $emailActionsSize;
}

.emailActions i:hover{
  cursor: pointer;
  color: $blue;
  transition: $transitionColor;
}

.emailNav{
  background-color: white;
  position: absolute;
  z-index: 1000;
  width: 320px;
  border-bottom: 2px solid $borderColor;
  text-align: right;
}

.emailNav ul{
  max-height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.emailNav--option{
  cursor: pointer;
  display: inline-block;
  font-size: $emailListFontSize;
  margin-right: 13px;
}

.emailNav--option:hover,.emailNav--option__selected {
  color: $blue;
  transition: $transitionColor;
}

.emailNav--option i{
  margin-right: 3px;
}

.emailFeed{
  margin: 0px;
  padding: 0px;
  margin-top: -50px;
  padding-top: 100px;
  height: 100vh;
  overflow: scroll;
}

.emailItem{
  position: relative;
  height: 65px;
  padding: 12px 0 0 10px;
  border-bottom: 1px solid $borderColor;
  font-size: $emailListFontSize;
  line-height: 16px;
  border-left: 3px solid white;
}

.emailItem:hover,.emailItem__selected{
  transition: $transitionAll;
  border-left: 3px solid $blue;
  background-color: $emailSelectedBG;
}

.unread,.unread__blank{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $blue;
  vertical-align: top;
  margin-top: 20px;
}

.unread__blank{
  background-color: inherit;
}

.emailItem--right{
  padding-left: 6px;
  width: 274px;
  display: inline-block;
}

.emailItem--title,.emailItem--subject,.emailItem--preview{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.emailItem--title{
  margin-top: 0;
  font-weight: bold;
}

.emailItem--title i{
  margin-right: 5px;
  font-size: 10px;
  vertical-align: top;
  margin-top: 2px;
}

.emailItem--preview{
  margin-bottom: 0;
  color: $emailActionsColor;
}

.EmailItem--date{
  color: $emailActionsColor;
  font-size: $emailListFilterFontSize;
  position: absolute;
  top: 10px;
  right: 20px;
}

.emailContent{
  position: relative;
  height: 100vh;
  background: $contentBG;
  overflow: hidden;
  padding: 0 40px;
}

.envelope{
  position: absolute;
  left:42%;
  top:42%;
  color: $envelopeColor;
  font-size: 9em;
}

.emailContent--subject{
  margin-top: 20px;
  font-size: $contentSubjectFontSize;
  font-weight: bold;
}

.emailBack{
  background: white;
  border-radius: 10px;
  border: 1px solid $borderColor;
  height: 75vh;
  padding: 40px 50px;
}

.emailHead--from{
  margin-top: 0;
  font-size: $contentSenderFontSize;
}

.emailHead--from a{
  color: $blue;
}

.emailHead--date{
  font-size: $contentDateFontSize;
  color: $emailActionsColor;
  float: right;
}