$blue: #4990E2;

body{
  font-family: 'Helvetica' , sans-serif;
}

li{
  list-style: none;
}

.emailList{
  width: 320px;
  float: left;
}

.emailContent{
}

.unread{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $blue;
}